* {
    border: 1px solid gray;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    height: fit-content;
    padding-top: 12vh;
    /* background-color: black; */
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 12vh;
    position: fixed;
    top: 0;
	z-index: 100;
    background-color: black;
}

#logoSearch {
    display: flex;
    width: 60%;
    height: 100%;
}

#logo {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
#logo > img {
    width: 41%;
    height: 25%;
    cursor: pointer;
}

#search {
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 0 0 2%;
}
#search > form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 30%;
    border: 2px solid gray;
    padding: 0 2%;
    border-radius: 100px;
}
#search > form > input {
    width: 90%;
    height: 70%;
    font-size: medium;
    border: 0;
    padding: 0 2% 0 0;
    background-color: black;
    color: lightgray;
}
#search > form > input:focus {
    outline: none;
}
#search > form > input:focus::-webkit-input-placeholder {
    color: transparent;
}
#search > form > button {
    width: 5%;
    height: 70%;
    border: 0;
    border: 0;
    background-color: black;
    cursor: pointer;
}
#search > form > button > svg {
    width: 100%;
    height: 100%;
    color: lightgray;
}

#user {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    padding: 0 1%;
}
#user > * {
    margin: 1%;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
#login > * {
    margin: 1% 0 0 0; 
}
#login > svg {
    width: 1.5vw;
    height: 2vh;
    color: gray;
}
#login > p {
    width: max-content;
    height: max-content;
    font-size: small;
    color: gray;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
#cart > * {
    margin: 1% 0 0 0;
}
#cart > svg {
    width: 1.5vw;
    height: 2vh;
    color: gray;
}
#cart > p {
    width: max-content;
    height: max-content;
    font-size: small;
    color: gray;
}

#mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
#mypage > * {
    margin: 1% 0 0 0;
}
#mypage > svg {
    width: 1.5vw;
    height: 2vh;
    color: gray;
}
#mypage > p {
    width: max-content;
    height: max-content;
    font-size: small;
    color: gray;
}


/* footer */
footer {
    width: 100%;
    height: fit-content;
    color: gray;
    display: flex;
    padding: 1% 5vh;
    box-sizing: border-box;
    align-items: center;
    border-top: 1px solid rgb(30, 30, 30);
    background-color: black;
}
/* introduce */
#introduce {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: small;
}
#introduce > * {
    margin: 0.5% 0;
}
/* help */
#help {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
#help > * {
    margin: 0.3% 0;
}
#help > p:nth-child(1) {
    font-size: x-large ;
}

/* main */
.main-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.main-header {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:20px;
}
.product_name {
    font-weight: bold;
    font-size: 30px;
}
.product_spec {
    font-size: 15px;
    color:dimgray;
    margin-top:5px;
    margin-bottom:20px;
}
.main {
    display:flex;
    flex-direction: column;
    width:70%;
}
.main-content {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-content-image {
    display:flex;
    justify-content: center;
    align-items: center;
}
.main-content-image img {
    width:350px;
    height:350px;
}
.main-content-price {
    display:flex;
    height:350px;
    justify-content: space-evenly;
}
.pricemsg {
    font-size: 25px;
    font-weight: bold;
    margin-right:100px;
}
.product_price {
    font-size: 25px;
    font-weight: bold;
    color:royalblue;
}
.main-content-buy-qty {
    display:flex;
    justify-content: center;
}
.main-spec-list, .main-review-list {
    margin:10px;
}
.main-review-id {
    margin-left:10px;
    font-weight: bold;
}
.main-review-date {
    display: flex;
    justify-content: right;
    margin-right:10px;
}
.select-qty, .qty, .totalprice, .cart, .purchase {
    display:flex;
    justify-content: center;
    align-items: center;
}
.qtyplus, .qtyminus, .qty {
    width:20px;
    height:20px;
}
table {
    display:flex;
    justify-content: center;
    align-items: center;
}
td {
    width:200px;
    text-align: center;
}