<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EV TIRE MALL</title>
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="icon" href="./img/favicon.jpg" type="image/x-icon">
</head>
<body>
    <header> <!-- header -->
        <section id="logoSearch"> <!-- logoSearch -->
            <div id="logo">
                <img src="./images/logo.png">
            </div>
            <div id="search">
                <form>
                    <input type="text" placeholder="검색어를 입력해주세요.">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </form>
            </div>
        </section>
        <section id="user"> <!-- user -->
            <div id="welcome">
                <p>조가영</p>
                <p>&nbsp;님</p>
            </div>
            <div id="logout">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                <p>로그아웃</p>
            </div>
            <div id="cart">
                <svg id="cart" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <p>장바구니</p>
            </div>
            <div id="mypage">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
                <p>마이페이지</p>
            </div>
        </section>
    </header>
    
    <main> <!-- main -->
        <section id="cartSection"> <!-- cart 장바구니 -->
            <div class="cartpart">장바구니</div><!-- 페이지 제목 -->
            <div class="cartInformation">
                총 8건의 내역이 있습니다. <!-- cart DB의 갯수 부탁드립니다. -->
            </div>
            <form>
                <table class="cartList">
                    <tr id="tablehead">  <!--장바구니 표의 head-->
                        <th class="productdetail" colspan="2">상품정보</td>  <!--제품이미지와 상품명으로 2칸을 차지함-->
                        <th class="unit_price">판매가</td>
                        <th class="count">수량</td>
                        <th class="price">총 주문금액</td>
                        <th class="delete">상품삭제</td>
                    </tr>
                    <tr class="cartListDetail"> <!--장바구니 표의 리스트-->
                        <td class="productimage"><img src="image/keyboard.jpg"></td> <!--상품이미지를 db에서 불러와 주세요-->
                        <td class="productname"><a href="#">상품명입니다.</a></td><!--상품명을 db에서 불러와 주세요, 상품 상세페이지로 anchor부탁드립니다.-->
                        <td class="unit_price">100,000</td><!--상품단가을 db에서 불러와 주세요-->
                        <td class="count">1</td><!--상품수량을 db에서 불러와 주세요-->
                        <td class="price">100,000</td><!--상품단가*상품수량을 값을 입력해주세요-->
                        <td class="delete"><button type="submit" class="deleteBtn">삭제하기</button></td><!--해당 버튼을 누르면 DB에서 내역 삭제를 부탁드립니다.-->
                    </tr>
                </table>
                <div class="orderBtns">
                    <button class="cartBigorderbtn">주문하기</button>
                </div>
            </form>
        </section>
    </main>

    <footer> <!-- footer -->
        <div id="introduce">
            <p>주소 : 광주광역시 광산구 소촌로 152번길 37</p>
            <p>대표이사 : 조가영</p>
            <p>사업자등록번호 : 108-35-62845</p>
        </div>
        <div id="help">
            <p>고객센터 8356 - 2845</p>
            <p>평일 09:00 ~ 18:00</p>
            <p>토요일, 공휴일 휴무</p>
        </div>
    </footer>

    <script src="./js/main.js"></script>
</body>
</html>