<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/logInSignUp.css">
    <title>logIn</title>
</head>
<body>
    <div id="wrapper">
            <a href="메인화면의 주소입력을 부탁드립니다.">
                <img src=images/logo.png>
            </a>
    
        <div id="wrapper-form">
            <div id="box_pagename">로그인</div>
    
            <div id="box_login">
                <form action="주소입력부탁드립니다." method="post">
                    <input type="text" name="logInMemberId"  placeholder="  Your ID"  autocomplete="off">
                    <input type="password" name="logInMemberPw"  placeholder="  Your Password"  autocomplete="off">
                    <div id="message">아이디 또는 비밀번호를 잘못 입력했습니다.<br> 입력하신 내용을 다시 확인해주세요.</div>
                    <button class="w-btn w-btn-indigo" type="submit">Log in</button>  
                </form>
            </div>
            <div id="box_link1">
                <div id="box-find1">
                    <a href="주소입력을 부탁드립니다.">아이디 찾기</a>
                </div>
                <div id="box-find2">
                    <a href="주소입력을 부탁드립니다.">비밀번호 찾기</a>
                </div>
                <div class="box-find3">
                    <a href="주소입력을 부탁드립니다" >회원가입</a>
                </div> 
            </div>
   
        </div>

    </div>
</body>
</html>